<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create Post</h1>
    <form action="/post/create/" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <input type="file" name="image" placeholder="image" />
      <input type="text" name="country" placeholder="country" />
      <input type="text" name="city" placeholder="city" />
      <input type="text" name="content" placeholder="content" />
      <button type="submit">글 작성하기</button>
    </form>
  </body>
</html>

