<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{post.country}}</h1>
    <img src="{{ post.image.url }}" alt="" width="100px" />
    <p>가고싶은 나라 {{post.country}}</p>
    <p>가고싶은 도시 {{post.city}}</p>
    <p>가고싶은 이유 {{post.content}}</p>
    <p>작성자 {{post.user}}</p>
    <p>여행 시작 날짜 {{post.starting_date}}</p>
    <p>여행 종료 날짜 {{post.finishing_date}}</p>
    <p>작성날짜 {{post.created_at}}</p>
    <p>수정날짜 {{post.updated_at}}</p>

    {% if user.is_authenticated %} {% if user == post.user %}
    <form action="/post/{{post.id}}/delete/" method="post">
      {% csrf_token %}
      <input type="submit" value="삭제하기" />
    </form>
    <a href="/post/{{post.id}}/update/">수정하기</a>
    {% endif %} {% endif %}
  </body>
</html>
