<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update Post</h1>
    <form action="/post/{{post.id}}/update/" method="POST">
      {% csrf_token %}
      <input
        type="file"
        name="image"
        placeholder="image"
        value="{{post.image}}"
      />
      <input
        type="text"
        name="country"
        placeholder="country"
        value="{{post.country}}"
      />
      <input type="text" name="city" placeholder="city" value="{{post.city}}" />
      <input
        type="text"
        name="content"
        placeholder="content"
        value="{{post.content}}"
      />
      <button type="submit">글 수정하기</button>
    </form>
  </body>
</html>
